body {
	background-color: #1D1E24;
}

.wrapper {
	width: 1024px;
	margin: auto;
}

.header {
	display: flex;
	margin-top: 100px;
	background-color: #23262B;
	border-radius: 20px;
	padding: 30px;
}

.header-left {
	display: flex;
	display: flex;
	align-items: start;
	flex: 0 0 50%;
	position: relative;
	padding-right: 120px;
}

.header-left:before {
	content: '';
	position: absolute;
	top: 0;
	right: 0;
	bottom: 0;
	height: 100%;
	width: 1px;
	background-color: #33363D;
}


.header-photo {
	margin-top: -100px;
	border: 8px solid #23262B;
	border-radius: 40px;
	overflow: hidden;
}

.header-photo-img {
	width: 100%;
	height: 100%;
	vertical-align: middle;
}

.header-user-info {
	margin-left: 30px;
}

.header-user-name {
	font-family: 'Roboto', sans-serif;
	color: #fff;
	font-weight: 700;
	font-size: 26px;
	margin: auto;
}

.header-user-profession {
	font-family: 'Roboto', sans-serif;
	color: #999AA2;
	font-weight: 400;
	font-size: 12px;
	margin-top: 7px;
	margin-bottom: 15px;
}

.header-user-social {
	display: flex;
	flex-wrap: nowrap;
	flex-direction: row;
	justify-content: space-between;
	width: 75px;
}

.header-right {
	display: flex;
	align-items: start;
	flex: 0 0 50%;
	padding-left: 1.875rem;
}

.header-contacts {
	list-style: none;
	margin-bottom: 0;
}

.header-contacts a {
	font-family: 'Roboto', sans-serif;
	color: #fff;
	text-decoration: none;
}

.header-contacts-heading {
	font-family: 'Roboto', sans-serif;
	color: #999AA2;
	text-transform: uppercase;
	font-size: 12px;
	font-weight: 500;
	margin: auto;
}

.header-contacts-info {
	font-family: 'Roboto', sans-serif;
	color: #fff;
	font-size: 12px;
	font-weight: 500;
	margin-top: 2px;
}

.row {
	display: flex;
	flex-wrap: nowrap;
}

.sidebar-navigation {
	position: sticky;
	width: 146px;
	height: 627px;
	margin-top: 30px;
	background-color: #23262B;
	border-radius: 20px;
	padding: 20px;
}

.navigation-list {
	display: flex;
	flex-direction: column;
	flex-wrap: wrap;
	padding-left: 0;
	margin-bottom: 0;
	list-style: none;
	margin: auto;
}

.navigation-item {
	display: block;
	margin-bottom: 15px;
	text-align: center;
	text-transform: uppercase;
	width: 100%;
	background-color: #2E2F36;
	border-radius: 15px;
}

.navigation-link {
	margin: 15px 0;
	font-family: 'Roboto', sans-serif;
	color: #AEB0B8;
	font-size: 16px;
	font-weight: 600;

}

.navigation-icon {
	margin-top: 15px;
}

li.navigation-item a {
	text-decoration: none;
}

.main {
	width: 848px;
	margin-top: 30px;
	margin-left: 30px;
	background-color: #23262B;
	border-radius: 20px;
	padding: 30px;
}

.main-title {
	position: relative;
	font-family: 'Roboto', sans-serif;
	color: #fff;
	font-size: 24px;
	font-weight: 900;
	margin: auto;
}

.main-title::after {
	content: '';
	background-color: #304CFD;
	border-radius: 0.5rem;
	height: 5px;
	position: absolute;
	bottom: -1.125rem;
	left: 0;
	width: 3.125rem;
	z-index: 1;
}

.about-me-info {
	position: relative;
	font-family: 'Roboto', sans-serif;
	color: #fff;
	font-size: 18px;
	font-weight: 400;
	margin-top: 40px;
}

.skills {
	margin-top: 70px;
}

.skills-box {
	margin-top: 40px;
	border: 2px solid #33363D;
	border-radius: 20px;
	padding: 30px;
}

.skill-progress {
	width: 100%;
	height: 50px;
	accent-color: #3086FF;
}

.skills-title {
	position: relative;
	font-family: 'Roboto', sans-serif;
	color: #fff;
	font-size: 14px;
	font-weight: 400;
}